.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input.empty {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

nav {
  background-color: #1E67AF !important;
}

.logoSidebar {
  background-color: #1E67AF !important;
}

.dashboard {
  background-color: #FFFFFF !important;
  color: black;
}

aside {
  background-color: #1E67AF !important;
}
/* 
table {
  background-color: #FFFFFF !important;
  color: black;
} */

th {
  background-color: #FFFFFF !important;
  color: black;
}

td {
  background-color: #FFFFFF !important;
  color: black;
}

tr:hover{
  background-color: #1E67AF !important;
}
